tcp input SSL chain/CA configuration issues

(This issue was originally filed by @MikeN123 at https://github.com/elastic/logstash/issues/1956)

---

At the moment, the SSL configuration options of the tcp input are fairly limited, and some are even useless. The following issues exist:

* It is not possible to specify `extra_chain_cert` for the server certificate, thus if a certificate chain is necessary this can only come from the CA store.
* The CA store (system-store or specified file) is only activated if `ssl_verify = true` (requiring client verification), so without client verification it is not possible to send a proper certificate chain.
* The system-store is always included if `ssl_verify = true`, making client certificate validation useless, since a client can send any certificate from any recognised CA, for any name.

I propose the following changes:

* Allow `extra_chain_cert` to be set, to specify a certificate chain (extra property)
* Allow the certificate store to be initialised from the system store even when not using client certificates (extra property: `ssl_set_default_paths` or something like that, and moving a couple of lines of code)
* Do not use the system store for client certs by default (i.e., make the previous property `false` by default). This may break existing configurations (but in these cases the peer verification was probably useless anyway).

Fixed most of this issues in https://github.com/logstash-plugins/logstash-input-tcp/pull/28 

@MikeN123

Sorry, but looking at the PR, the main issue that made us switch is still present. If client SSL verification is on (`ssl_verify = true`), it will load the system's default store (`cert_store.set_default_paths`). This makes client certificate validation totally useless, as I can send any certificate I want, as long as it is signed by a CA.

@MikeN123 very interesting situation, I wonder about pros and cons of removing the system CA. If I understand you properly, what you just say is you want to "authorize" your clients by only allowing clients with certificates that are being issued by your own CA, right?

@MikeN123 at my understanding certificate validation is not useless like is right now, it's doing it job if we trust CA to do a proper work. Would really love to know more about your security concerns here. thanks a lot.

It is useless, unless you manually verify the DN/subject of each client certificate. For that you would have to define a filter or something like that in logstash. I simply do not want unauthorized users to connect, and that is impossible with the current implementation. I also do not want to use a public CA, as that's a rather costly solutions (and I don't think anyone else does use a public CA for client certificates, except for things like e-mail where certificates are more about identification than authorization).

A more common way is to have your own PKI/CA, or to include each client certificate on the server side. In both cases you need to be able to exclude the public CA's to prevent connections from anyone with a certificate signed by a public CA.

@purbon @MikeN123 Please re-open this issue.

Unfortunately, the changes made in PR #28 don't increase security, but they do decrease it. While `ssl_verify => true` by default is seemingly an security improvement, the other changes (related to `load_cert_store`) actually make it impossible to configure its security settings properly.

This all has to do with the way client-certificate authentication is used in practice. Verifying the remote certificate when you are a server has a very different purpose from doing it when you are a client.

## As a client

* You know the machine you want to connect to.
* You check that you can trust the server certificate (and that it's valid) so that you can effectively believe its content to be genuine (that the PKI aspect, RFC 5280).
* You check that the identity in the certificate matches what you want to connect to (that's hostname verification, RFC 2818 Section 3.1, or more generally RFC 6125).

`ssl_verify => true` by default makes perfect sense here (and too often, some code forgets to verify the hostname anyway, since there are two trust aspects to check here).

In this context, it can make sense to have a reasonably large set of trusted CAs (although you don't necessarily want it to be too large):
* The client at least controls what it attempts to connect to.
* There are reasonably clear naming guidelines w.r.t. what the certificate is meant to identify (e.g. host name in Subject Alternative Name or even CN, see RFC 6125).

This is far from a perfect scenario, but it's manageable.


## As a server (which is the case here)

* You don't know which clients are trying to connect to you.
* You use authentication as a pre-requisite for authorisation (and possibly audit).
* The way of describing what you identify in a certificate isn't particularly well defined (the naming conventions for the DNs are more flexible, there's no reliable convention regarding which CA is going to issue which forms of DNs).

Those who use `ssl_verify => false` (as a server) are willing to let anyone connect to their service. That's often a reasonable default (we can discuss whether it's best to have it as `true` or `false` by default).

Those who use `ssl_verify => true` want client-certification enabled (and that's generally an active step because you need to set up the PKI to do that), but more importantly, they're really after **authorisation** (or possibly **audit**, i.e. tracability of the genuine entity that made the connection).

Considering that there is no authorisation layer in `logstash-input-tcp`, anything that is authenticated is effectively authorised. In this context, letting in client-certs issued by a dozen of pre-installed CAs becomes a problem.
* Firstly, there's no fixed convention for the Subject DNs (so that wouldn't be reliable, even if there was an authorisation layer).
* Secondly, while client certificates from commercial CAs seem unusual, there are many CAs that will issue server certificates that are also usable as client certificates (in terms of key usage attributes).

*Basically, by trusting all the CAs installed by default on the system, you're letting anyone willing to pay for the cheapest cert from any widely trusted CA in. That, of course, is a no-no.*


Another aspect to take into consideration is that a server doesn't necessarily want to advertise *all* the CA certificates it trusts when its system behaves as a client in the `CertificateRequest` TLS message:
  * It may reveal unwanted information to the connecting client, which is not authenticated at that stage (known what a remote system trusts in this case might be used maliciously for other purposes)
  * The list can get quite long, thereby making the `CertificateRequest` message quite big and add extra overhead in the handshake. (This can even cause [critical problems in some cases](http://restlet.tigris.org/ds/viewMessage.do?dsForumId=4447&dsMessageId=2599850).)
  
At the moment, that list is empty anyway, but this might change if jruby/jruby-openssl#85 is fixed (this has more to do with `ssl_context.client_ca` otherwise, but it's not used in `logstash-input-tcp` at the moment).



Another problem with PR #28 is that it mixed `ssl_extra_chain_certs` into the same overall store. That's not what `extra_chain_cert` (without an `s`) is for in the `SSLContext`.
The whole point is to be able to specify precisely what the chain the server is presenting to the remote party is, independently of the CAs it trusts when getting a client.
The server certificate chain and the CA certificates it uses as trust anchors to verify client certificates are very separate aspects. By default, OpenSSL will try to build the chain from the trusted CA store, but the purpose of `extra_chain_cert` is to be able to gain finer control over that, not to mix it up in the same overall store.


  
## How to fix?

* As a general rule, people willing to use client-certificate authentication will want to configure a very limited set of CAs they're willing to trust. As such, having the ability to trust the system-wide CAs barely makes sense at all. It can be an option, but it shouldn't be the default.
* Not being able to remove those system CAs from the trust anchors (as it is the case since PR #28) is very much of a problem in that respect.


* `ssl_cacert` was doing its job resonably well, but its name was somewhat odd compared with other tools that rely on OpenSSL.
  It would make more sense to have a `ssl_ca_file` (the same as the old `ssl_cafile`) and possibly a new `ssl_ca_path` options that match [Apache Httpd `SSLCACertificateFile`/`SSLCACertificatePath` Directive](https://httpd.apache.org/docs/2.4/mod/mod_ssl.html#sslcacertificatefile) (or `-CAfile/-CApath` in `openssl s_client, and so on):

  > This directive sets the all-in-one file where you can assemble the Certificates of Certification Authorities (CA) whose clients you deal with. These are used for Client Authentication. Such a file is simply the concatenation of the various PEM-encoded Certificate files, in order of preference. This can be used alternatively and/or additionally to SSLCACertificatePath.

* Deprecate `ssl_extra_chain_certs` and ignore it, since it doesn't really have anything to do with the specific server chain.

* Ideally, allow `ssl_cert` to point to a file that contains the full explicit chain. Again, this would be similar to [Apache Httpd's `SSLCertificateFile`](https://httpd.apache.org/docs/2.4/mod/mod_ssl.html#sslcertificatefile)'s behaviour:

  > The files may also include intermediate CA certificates, sorted from leaf to root. This is supported with version 2.4.8 and later, and obsoletes SSLCertificateChainFile. When running with OpenSSL 1.0.2 or later, this allows to configure the intermediate CA chain on a per-certificate basis.
  
  I don't think jruby-openssl supports this out of the box, but it might be possible to read multiple PEM certs from the cert file in `logstash-input-tcp`, use the first one as the cert and the others for `ssl_context.extra_chain_cert`.

* Alternatively, or in addition to the chain above, having a configuration option (`ssl_extra_chain_cert`, without an `s`) that points to a file giving the certificate chain that should be used, if needed (effectively similar to Apache Httpd's `SSLCertificateChainFile`).

  That can be set in `ssl_context.extra_chain_cert`.



Here is an incomplete patch (but that should sort `ca_file` and `ca_path` at least:

```diff
@@ -38,7 +38,7 @@
   config :ssl_verify, :validate => :boolean, :default => true
 
   # The SSL CA certificate, chainfile or CA path. The system CA path is automatically included.
-  config :ssl_cacert, :validate => :path, :deprecated => "This setting is deprecated in favor of ssl_extra_chain_certs as it sets a more clear expectation to add more X509 certificates to the store"
+  config :ssl_cacert, :validate => :path, :deprecated => "This setting is deprecated in favor of ssl_ca_file and ssl_ca_path"
 
   # SSL certificate path
   config :ssl_cert, :validate => :path
@@ -49,9 +49,14 @@
   # SSL key passphrase
   config :ssl_key_passphrase, :validate => :password, :default => nil
 
-  # An Array of extra X509 certificates to be added to the certificate chain.
-  # Useful when the CA chain is not necessary in the system store.
-  config :ssl_extra_chain_certs, :validate => :array, :default => []
+  # Not in use
+  config :ssl_extra_chain_certs, :validate => :array, :default => [], :deprecated => "Not in use"
+
+  # Bundle of CA certificates in PEM format in a single file to use as trust anchors
+  config :ssl_ca_file, :validate => :path
+
+  # Directory containing CA certificates in PEM format to use as trust anchors (check OpenSSL naming conventions)
+  config :ssl_ca_path, :validate => :path
 
   def initialize(*args)
     super(*args)
@@ -213,7 +218,13 @@
       @ssl_context.cert = OpenSSL::X509::Certificate.new(File.read(@ssl_cert))
       @ssl_context.key = OpenSSL::PKey::RSA.new(File.read(@ssl_key),@ssl_key_passphrase)
       if @ssl_verify
-        @ssl_context.cert_store  = load_cert_store
+        if @ssl_ca_file
+          @ssl_context.ca_file = @ssl_ca_file
+        end
+        if @ssl_ca_path
+          @ssl_context.ca_path = @ssl_ca_path
+        end
+
         @ssl_context.verify_mode = OpenSSL::SSL::VERIFY_PEER|OpenSSL::SSL::VERIFY_FAIL_IF_NO_PEER_CERT
       end
     rescue => e
@@ -224,20 +235,6 @@
     @ssl_context
   end
 
-  def load_cert_store
-    cert_store = OpenSSL::X509::Store.new
-    cert_store.set_default_paths
-    if File.directory?(@ssl_cacert)
-      cert_store.add_path(@ssl_cacert)
-    else
-      cert_store.add_file(@ssl_cacert)
-    end if @ssl_cacert
-    @ssl_extra_chain_certs.each do |cert|
-      cert_store.add_file(cert)
-    end
-    cert_store
-  end
-
   def new_server_socket
     @logger.info("Starting tcp input listener", :address => "#{@host}:#{@port}")
     begin
```  

* To complete this patch, setting `ssl_context.extra_chain_cert` should be done *before* `if @ssl_verify` (since presenting a given certificate chain has nothing to do with verifying the remote party). This problem is also mentioned in issue #45.

* If `ssl_verify => true` is kept as the default in this project, the documentation should probably make it clear that client-certificate authentication is required by default. Otherwise, problems like issue #33 will happen to many users. A lot of people are confused by certificates when setting them up on their servers, but since using client-certificate authentication require even more understanding of the PKI concepts, this could become even more confusing.


@harbulot, I can't reopen the issue, I'm not a maintainer. I fully agree with your points, but unfortunately the logstash maintainers seem to have zero clue about PKI/TLS security. I gave up on logstash and TLS a long time ago, and am simply running logstash behind an SSL proxy for authentication/encryption.

@harbulot Please open a PR if you wish to submit a patch. If you want to discuss a new feature or change, I invite you to open a new issue so we can focus specifically on your situation in a new topic.

@jordansissel No problem, I thought it was really the same issue overall (just not fixed), but I've just opened issue #47 if it makes tracking easier.